@font-face {
  font-family: "montserrat-light";
  src: url("../Montserrat/static/Montserrat-Light.ttf");
}

@font-face {
  font-family: "montserrat-extra-light";
  src: url("../Montserrat/static/Montserrat-ExtraLight.ttf");
}

@font-face {
  font-family: "montserrat-thin";
  src: url("../Montserrat/static/Montserrat-Thin.ttf");
}

@font-face {
  font-family: "montserrat-regular";
  src: url("../Montserrat/static/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "montserrat-medium";
  src: url("../Montserrat/static/Montserrat-Medium.ttf");
}

@font-face {
  font-family: "montserrat-bold";
  src: url("../Montserrat/static/Montserrat-Bold.ttf");
}

@font-face {
  font-family: "montserrat-semi-bold";
  src: url("../Montserrat/static/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: "montserrat-extra-bold";
  src: url("../Montserrat/static/Montserrat-ExtraBold.ttf");
}
