@import url("https://cdnjs.cloudflare.com/ajax/libs/fork-awesome/1.2.0/css/fork-awesome.min.css");
/*@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');*/

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply antialiased text-gray-800;
    }
    img {
        @apply object-cover w-full
    }
}

@layer components {
    li.nav-top {
        @apply transition-all duration-300 ease-in-out hover:border-b-4 hover:border-cta-light
    }
    .icon {
        @apply mx-1 w-7 h-7 bg-white text-black rounded-full hover:bg-cta-light hover:text-white
    }
    figure {
        @apply m-4 max-h-[18rem];
    }
    figcaption {
        @apply bg-gray-800 bg-opacity-60 text-white p-4;
    }
}

@layer utilities {
    .triangle {
        content: "";
        position: absolute;
        top: -6px;
        background-color: #fff;
        width: 15px;
        height: 15px;
        -webkit-clip-path: polygon(0 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 100%, 0 100%);
        transform: rotate(135deg);
    }
    .bghomecolor {
        background: linear-gradient(90deg, rgba(77, 77, 77, 0.35), rgba(231, 218, 203, 0.35));
    }
}