
@import "assets/fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply scroll-pt-3 scroll-smooth font-montserrat-regular text-base;
        /* see https://www.getrevue.co/profile/shrutibalasa/issues/did-you-know-about-scroll-padding-easy-solution-to-fixed-header-problem-1325973 */
    }

    body {
        @apply antialiased text-gray-800;
    }

    img {
        @apply object-cover w-full
    }
}

@layer components {
    li.nav-top {
        @apply transition-all duration-300 ease-in-out hover:border-b-4 hover:border-cta-light
    }

    .icon {
        @apply mx-1 w-7 h-7 bg-white text-black rounded-full hover:bg-cta-light hover:text-white
    }

    figure {
        @apply m-4 max-h-[18rem];
    }

    #app {
        @apply grid min-h-screen;
        grid-template-rows: 1fr auto;
    }
}

@layer utilities {
    .triangle {
        content: "";
        position: absolute;
        top: -6px;
        background-color: #fff;
        width: 15px;
        height: 15px;
        -webkit-clip-path: polygon(0 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 100%, 0 100%);
        transform: rotate(135deg);
    }

    .triangle-up {
        width: 0;
        height: 0;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-bottom: 100px solid red;
    }
}