
$c-pat: rgb(170, 183, 216);
$c-art: rgb(245, 204, 115);
$c-wal: rgb(100, 150, 111);
$c-del: rgb(239, 191, 177);
$c-par: rgb(239, 215, 205);

// COLORS

$CTA: rgb(253, 131, 131);
$darkCTA: rgb(72, 127, 137);
$active: rgb(255, 136, 27);

$white: rgb(255, 255, 255);
$lighterGrey: rgb(237, 237, 236);
$lightGrey: rgb(189, 195, 195);//
$basicGrey: rgb(128, 128, 128);//
$darkGrey: rgb(99, 96, 97);
$darkerGrey: rgb(35, 34, 34);
$darkestGrey: rgb(5, 0, 50);

$basicGreen: rgb(20, 190, 120);
$darkGreen: rgb(22, 186, 153);//
$basicOrange: rgb(253, 189, 86);//
$darkOrange: rgb(252, 112, 8);//
$basicRed: rgb(220, 55, 55);
$darkRed: rgb(222, 44, 1);//
$home: rgb(232, 218, 203);//
